<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="bg-white p-10 rounded-xl shadow-md w-full max-w-md">
    <h1 class="text-3xl font-bold text-gray-800 text-center mb-6">
      新規登録
    </h1>

    <%= simple_form_for @user do |f| %>
      <%= f.input :email %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation %>
      <%= f.input :display_name %>
    <% end %>
  </div>
</div>
